* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 100%;
    color: #fff;
    line-height: 20px;
    width: 100%;
    background-color: #8ab19b6b;
}

.header {
    color: #2B1512;
    height: fit-content;
    background-color: #a38ab16b;
    border-bottom: 2px solid #2B1512;
}
.header h1 {
    padding: 10px;
    margin: 0 auto;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}


.two-col-side {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.hero-rate {
    
    /* margin: 80px 0px 0px 20px; */
    width: 10em;
    height: 10em;
    background-color: #f1d469;
    border: 1px solid #2B1512;
    border-radius: 10px;
}

.hero-rate h4{
    color: #2B1512;
    font-size: 35px;
    text-align: center;
    margin-top: 30%;
}
.hero-rate p {
    font-size: 75%;
    text-align: center;
}

.main-content {
    color: #2B1512;
    height: fit-content;
    background-color: #b7cece;
    font-size: 100%;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr;
    color: #2B1512;
    padding: 5px;
    background-color: #b7cece;
}

.personal-info {
    color: #2B1512;
    background-color: #979ba7;
    border-radius: 7px;
    height: 4em;
    width: 195px;
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px #212b2a;
    margin-left: 5%;
    
}

.personal-info h2 {
    font-size: 16px;
    margin: 15px 14px;   
}
.personal-info p {
    margin-top: 35px;
    font-size: 12px;
}
.personal-info img {
    padding: 2px;
    background-color: #b7cece;
    box-shadow: 1px 2px 2px 2px #212b2a90;
    border: 2px solid rgb(62, 57, 49);
    border-radius: 70%;
    margin-top: 10px;
    margin-left: 5px;
    width: 2em;
}

.performance {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: 110px 1fr;
    background-color: #979ba7;
}
.performance h3 {
    text-align: center;
}
.performance p {
    padding: 10px;
    margin-right: 5px;
}

.performance img, .customization img {
    width: 100px;
    border-radius: 5px;
    margin-left: 10px;
}

.pricing {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns:  1fr 200px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.pricing p {
    padding: 10px;
    margin: 20px 5px 5px 5px;
}
.pricing h3 {
    text-align: center;
    margin: 0;
}

.three-row {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.small-two-row {
    display: grid;
    grid-template-rows: 30px 1fr;
}
.customization {
    width: 98%;
    display: grid;
    gap: 5px;
    grid-template-columns: 110px 1fr;
}
.customization p { 
    padding: 10px;
    margin: 20px 5px 5px 5px;
}

.conclusions {
    padding-bottom: 30px;
    margin-left:30px;
    margin-top: 20px;
}
.conclusions p {
    padding: 10px;
    margin: 20px 5px 5px 5px;
}
.conclusions h3 {
    margin: 0;
    text-align: center;
}
.pro-con {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    line-height: 20px; 
    margin-top: 20px;
}

.table-rate {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0px 256px 50px 10px;
}
.cite {
    width: 100%;
    font-size: 8px;
    line-height: 8px;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cite p {
    padding: 0;
    margin: 0;
}

.tbl-procon {
    height: fit-content;
    padding: 10px;
    border-radius: 15px;

}
.tbl-procon h3 {
    margin: 0;
}
.pro-con li {
    list-style-type: none;
}
.sidebar h3, .sidebar p {
    text-align: center;
}

.intro {
    margin: 0 auto;
    padding: 10px;
}
.intro h2 {
    margin: 0;
}
.pro {
    list-style: url(../assets/plus-solid.svg);
    margin-top: 2px;
}
.con {
    list-style: url(../assets/minus-solid.svg);
    margin-top: 2px;
}

table {
    width: 10px;
    border-collapse: collapse;
    font-size: 80%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px 5px;
    text-align: left;
}

.rate-table {
    margin-left: 20px;
}
footer {
    padding-top: 10px;
    height: 5vh;
    text-align: center;
    background-color: #4c3957;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer p {
    font-size: 10px;
    margin: 0;
}

footer a {
    color: #4c3957;
    text-decoration: none;
    background-color: #F1CC47;
    padding: 0.5em;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 110%;
    }
    .performance {
        background-color: #b7cece;
    }
    .pricing {
       height: 45vh; 
    }
    .cite {
        position: relative;
        top: 20px;
        right: 210px;
        min-width: 400px;
        font-size: 9px;
        line-height: 10px;
    }
    .pro-con {
        grid-template-columns: 1fr 5fr 1fr;
    }
    .sidebar {
        background-color: #979ba7;
        grid-template-rows: 1fr 1fr;
        border-right: 2px solid #66686e;
        box-shadow: 0px 5px 20px inset #66686e;
    }
    .two-col-main {
        display: grid;
        grid-template-columns: 250px 1fr;
    }
    .two-col-side {
        display: block;
    }
    .rate-table {
        margin-left: 53px;
    }
    .hero-rate {
        margin: 20px 0 0 40px;
    }
    footer {
        padding-top: 15px;
        height: 6vh;
    }
}



@media screen and (min-width: 1024px) {
    body {
        font-size: 120%;
    }
    footer {
        padding-top: 20px;
    }
    .three-row {
        display: block;
    }
    .two-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pricing table {
        margin-left: 120px;
    }

    .cite {
        line-height: 13px;
        right: 10px;
    }

    .performance img, .customization img {
        width: 200px;
        margin: 100px 0px 0px 100px;
        border-radius: 5px;
    }

    .hero-rate {
        margin-left: 25px;
    }
    
}

@media screen and (min-width: 1440px) {
    body {
        margin: 0 auto;
        font-size: 130%;
        line-height: 30px;
        width: 75%;
    }
    .two-col-main {
        grid-template-columns: 290px 1fr;
    }
    

    footer {
        height: 7vh;
    }
}



